<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Time Tabling Meeting App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/common.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/landing.css') }}" />
</head>

<body>
  <header class="navbar">
    <div class="nav-container">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='media/app-logo.png') }}"
             alt="App Logo" class="logo-nav" />
      </a>
      <div class="nav-buttons">
        <a href="{{ url_for('signup') }}" class="btn btn-primary" id="signup">Get Started</a>
        <a href="{{ url_for('login') }}"  class="btn btn-primary" id="login">Log In</a>
      </div>
    </div>
  </header>

  <!-- Main hero area -->
  <main>
    <section class="landing-container">
      
      <div class="hero-video">
        <video autoplay loop muted playsinline>
          <source src="{{ url_for('static', filename='media/meeting.mp4') }}"
                  type="video/mp4" />
          Sorry, your browser doesn’t support HTML5 video.
        </video>

        <div class="hero-text">
          <h1>Slice of Time</h1>
        </div>
      </div>
      <div class="hero-text">
          <h1>Slice of Time</h1>
        </div>


      <div class="discription-body">
        <h2>How to use:</h2>
        <ol>
          <li>
            Create an account by pressing the Get Started button in the nav bar.
            <br />
            <img src="{{ url_for('static', filename='media/get-started.png') }}" alt="Get Started" />
          </li>
          <li>
            Create a meeting, and share it with your team.
            <br />
            <img src="{{ url_for('static', filename='media/create-meeting.png') }}" alt="Create Meeting" class="create-meeting-img" />
          </li>
          <li>
            Have your team fill out their availability.
            <br />
            <img src="{{ url_for('static', filename='media/select-unavailability.png') }}" alt="Select Unavailability" class="select-unavailability-img" />
          </li>
          <li>The website will figure out the best time.</li>
        </ol>
      </div>
    </section>
  </main>
</body>
</html>
